body{
    font-family:Arial;
    background:#eaeaea;
}

.box{
    background:white;
    padding:20px;
    margin:20px;
    border:1px solid gray;
}

.top{
    background:darkblue;
    color:white;
    padding:10px;
    text-align:center;
}

a{
    color:white;
    text-decoration:none;
}

button{
    background:green;
    color:white;
    padding:8px;
    border:none;
}

button:hover{
    background:red;
}
