body{
    font-family:Arial;
    background:#eaeaea;
    margin-inline-start: auto;
}

.box{
    background:#ffffff;
    padding:20px;
    margin:20px;
    border:4px solid rgb(0, 0, 0);
}

.top{
    background:rgb(0, 0, 0);
    color:white;
    padding:10px;
    text-align:center;
}

a{
    color:white;
    text-decoration:none;
}

button{
    background:green;
    color:white;
    padding:8px;
    border:none;
}

button:hover{
    background:red;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-instagram {
  background: #125688;
  color: white;
}